


.course-table-head {
    display: block;
}

.course-table-body 
{
   overflow: auto;
   height: 400px;
   display: block;
}


.course-number {
    width: 130px;
}

.course-name {
    width: 270px;
}

.course-credits {
    width: 70px;
}

.course-description {
    width: 1150px;
}

.credits {
    width: 70px;
}

.course-prereq {
    width: 150px;
}

.add_course {
    width: 100px;
}